/*---- Variables Color ----*/

$colorPrincipal: #f0f4f5;
$colorLogo: #2d3fa7;

/*---- Variables Fuentes ----*/

$fuenteLogo1: 'Splash';
$fuenteLogo2: 'Square Peg';

/*---- MAP ----*/

$colores: (
    Principal: #f0f4f5,
    Logo: #2d3fa7,
    Cards: #ffffff,
)


