@import"variables.scss";
@import"mixin.scss";
/* Reset universal */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: $colorPrincipal;
}
            /* Barra de Navegacion */

.titulo_logo{
    font-family:$fuenteLogo1;
    color: $colorLogo;
}

.navbar{
    background-color: $colorPrincipal
}
.navbar-light .navbar-brand{
    color: $colorLogo;
    font-size: 2.2rem;
}

            /* Main Index */

.main_index{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:$colorPrincipal;
}

.section_1_index{
    flex: 2 1 auto;
    align-items: center;
    justify-content: center;
}

.imagen{
    width: 90%;
    max-height: 500px;
    object-fit: cover;
    margin: 20px;
    background-color: $colorPrincipal;
    align-items: center;

}
.titulo_index {
    font-family: $fuenteLogo1;
    font-size: 2.1rem;
    color: $colorLogo;
    text-align: center;
    margin-top: -121px;
}

.subtitulo_index{
    font-family: $fuenteLogo2, cursive;
    color: $colorLogo;
    font-size: 1.5rem;
    text-align: center;
}

.section_2_index{
    width: 90%;
    margin: 20px;
    background-color: $colorPrincipal;
    flex: 1 1 auto;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
    color: $colorLogo;
}

        /* Footer */
.footer{
    display: flex;
    background-color:$colorPrincipal;
    min-width: 100%;
    height: 76px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.titulo_logo_footer{    
    flex: 1;
    display: inline-block;
    flex-wrap: wrap;
    padding: 1rem;
    font-family: $fuenteLogo1;
    color: $colorLogo; 
}

.copyright{
    display: flex;
    flex: 5;
    justify-content: flex-end;
    background: $colorPrincipal;
    align-items: center;
    padding: 1rem
    
}
/* ---------------------------------------- */
         /* Pagina 2 Diseño */
/* ---------------------------------------- */

.main_diseño{
    // background: #ffffff93;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
}
.Img_diseño{
    margin: 10px;
}
.section_diseño_1{
    background: #ffffff93;
    display: grid;
    justify-items: center;
}

.texto_diseño_1{
    background: #ffffff93;
    display: grid;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.section_diseño_2{
    display: grid;
    justify-content: center;
    justify-items: center;
}
.texto_diseño_2{
    display: grid;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
/* ---------------------------------------- */
            /* Pagina 3 Proyectos */
/* ---------------------------------------- */ 
.titulo_proyecto{
    text-align: center;
    font-family: $fuenteLogo2, cursive;
    font-size: 3em;
    color: map-get($map: $colores, $key: "Logo");
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    height: 30px;
    width: 30px;
    filter: invert(108%);

}
.carousel-item 
    img{
        padding-top:5px;
        height: 100vh;
        object-fit: cover;
    h5{
        background-color: $colorLogo;
    }
}
/* ---------------------------------------- */
            /* Pagina 4 Sobre nosotros */
/* ---------------------------------------- */ 
.titulo_sobre_nosotros{
    text-align: center;
    font-family: $fuenteLogo2, cursive;
    font-size: 3em;
    color: map-get($map: $colores, $key: "Logo");
}

.main_nosotros{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: map-get($map: $colores, $key: "Principal" );
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face {
    position: absolute;
    @include sizes;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.8s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    @include sizes;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    font-family: $fuenteLogo2, cursive;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: map-get($map: $colores, $key: "Cards");
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: map-get($map: $colores, $key: "Logo");
    padding: 15px;
    color: map-get($map: $colores, $key: "Cards");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: map-get($map: $colores, $key: "Cards");
    font-size: 30px;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

        /* ---- Pagina 5 Contactos ---- */

.main_contacto{
    justify-items: center;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    grid-template-areas:
    "newsletter mapa"
    "cv redes";
}

.newsletter{
    width: 500px;
    min-width: 300px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgba(81, 4, 246, 0.867);
    grid-area: newsletter;
    & img{
        width: 250px;
        display: block;
        margin: 20px auto;
        border-radius: 30px;
    }
    & h2{
        text-align: center;
        font-size: 3em;
        font-family: $fuenteLogo2;
        color: map-get($map: $colores, $key: "Logo");
    }
    & form input{
        @include Form;
    }
    & form .btn {
        @include btn
        
    }
}
.cv{
    width: 500px;
    min-width: 300px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgba(81, 4, 246, 0.867);
    grid-area: cv;
    & img{
        width: 250px;
        display: block;
        margin: 20px auto;
        border-radius: 30px;
    }
    & h2{
        text-align: center;
        font-size: 2.2em;
        font-family: $fuenteLogo2;
        color: map-get($map: $colores, $key: "Logo");
    }
    & form input{
        @include Form;
    }
    & form .btn {
        @include btn
        
    }
}
.mapa{
    width: 500px;
    min-width: 300px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgba(81, 4, 246, 0.867);
    grid-area: mapa;
    & iframe{
        display: block;
        margin: 20px auto;
        color: map-get($map: $colores, $key: "Cards");
        font-size: 30px;
    }
    & p{
        text-align: center;
        margin-top: 20px;
        font-size: 1.1em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: map-get($map: $colores, $key: "Logo");
    }
}
.redes{
    width: 500px;
    min-width: 300px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgba(81, 4, 246, 0.867);
    grid-area: redes;
    & .texto_redes{
        text-align: center;
        font-size: 2.2em;
        font-family: $fuenteLogo2;
        color: map-get($map: $colores, $key: "Logo");
    }
    & ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 30px;
        font-size: 50px;
        color: map-get($map: $colores, $key: "Logo");
        border-radius: 2px;
    }
}
        /* ---- Responsive Mobile Index ---- */

@media only screen and (min-width: 420px) and (max-width: 768px){

    .main_index{
        flex-direction: column;
        max-width: 80vw;
    }
    .imagen{
        max-width: 90vw;
    }
    .titulo_index{
        font-size: 1.5rem;
    }
    .section_2_index{
        flex-direction: column;
        padding: 10px;
    }

         /*Mobile --- Diseño  */

    .main_diseño{
        grid-template-columns: 1fr;
        max-width: 80vw;
    }
    
        /*Mobile --- Proyectos  */

    .main_proyectos{
        padding:50px 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        }

        /*Mobile --- Proyectos  */

    .main_contacto{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        grid-template-areas:
    "newsletter"
    "cv"
    "mapa"
    "redes";
    }
}



@media only screen and (min-width: 200px) and (max-width: 425px){

                    /*Mobile --- Index  */
    .nav__links{
        flex-direction: column;
        justify-content: flex-end;
        
    }
    .nav__link i{
        display: inline-block;
        font-size: 20px;
    }
    .main_index{
        flex-direction: column;
        max-width: 80vw;
    }
    .titulo_index{
        font-size: 1.5rem;
    }
    .imagen{
        max-width: 80vw;
    }
    .section_1_index{
        align-items: center;
        justify-content: center;
    }
    .section_2_index{
        background-color: #f0f4f5;
        flex: 1 1 auto;
        flex-direction: column;
    }
    
                    /*Mobile --- Diseño  */
    .main_diseño{
        grid-template-columns: 1fr;
        max-width: 80vw;
    }
                    /*Mobile --- Proyectos  */

    .main_proyectos{
        padding:50px 0;
        grid-template-columns: 1fr;
        gap: 20px; 
    }
    .main_contacto{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        grid-template-areas:
    "newsletter"
    "cv"
    "mapa"
    "redes";
    }
}