@import"variables.scss";
@import"mixin.scss";
/* Reset universal */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: $colorPrincipal;
}
            /* Barra de Navegacion */

.titulo_logo{
    font-family:$fuenteLogo1;
    color: $colorLogo;
}

.navbar{
    background-color: $colorPrincipal
}
.navbar-light .navbar-brand{
    color: $colorLogo;
    font-size: 2.2rem;
}

            /* Main Index */

.main_index{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:$colorPrincipal;
}

.section_1_index{
    padding: 110px 20px 77px 20px;
    flex: 2 1 auto;
    align-items: center;
    justify-content: center;
}

.imagen{
    background-color: $colorPrincipal;
    flex-wrap: wrap;
    
}
.titulo_index {
    left: 39%;
    font-family: $fuenteLogo1;
    font-size: 2.1rem;
    color: $colorLogo;
    background: #ffffff93;
    text-align: end;
    padding-right: 3rem;
    margin-top: -121px;
}

.subtitulo_index{
    left: 39%;
    font-family: $fuenteLogo2, cursive;
    color: $colorLogo;
    font-size: 1.5rem;
    background: #ffffff93;
    text-align: end;
    padding-right: 4rem;
    
}

.section_2_index{
    background-color: $colorPrincipal;
    flex: 1 1 auto;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
    color: $colorLogo;
    padding: 110px 20px 77px 20px;
}

        /* Footer */
.footer{
    display: flex;
    background-color:$colorPrincipal;
    width: 100vw;
    height: 76px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.titulo_logo_footer{    
    flex: 1;
    display: inline-block;
    flex-wrap: wrap;
    padding: 1rem;
    font-family: $fuenteLogo1;
    color: $colorLogo; 
}

.copyright{
    display: flex;
    flex: 5;
    justify-content: flex-end;
    background: $colorPrincipal;
    align-items: center;
    padding: 1rem
    
}
/* ---------------------------------------- */
         /* Pagina 2 Diseño */
/* ---------------------------------------- */

.main_diseño{
    padding-top:75px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
}
.Img_diseño{
    margin: 10px;
}
.section_diseño_1{
    background: #ffffff93;
    display: grid;
    justify-items: center;
}

.texto_diseño_1{
    background: #ffffff93;
    display: grid;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.section_diseño_2{
    display: grid;
    justify-content: center;
    justify-items: center;
}
.texto_diseño_2{
    display: grid;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
/* ---------------------------------------- */
            /* Pagina 3 Proyectos */
/* ---------------------------------------- */ 
.titulo_proyecto{
    text-align: center;
    font-family: $fuenteLogo2, cursive;
    font-size: 3em;
    color: map-get($map: $colores, $key: "Logo");
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    height: 30px;
    width: 30px;
    filter: invert(108%);

}
.carousel-item 
    img{
        padding-top:5px;
        height: 100vh;
        object-fit: cover;
    h5{
        background-color: $colorLogo;
    }
}
/* ---------------------------------------- */
            /* Pagina 4 Sobre nosotros */
/* ---------------------------------------- */ 
.titulo_sobre_nosotros{
    text-align: center;
    font-family: $fuenteLogo2, cursive;
    font-size: 3em;
    color: map-get($map: $colores, $key: "Logo");
}

.main_nosotros{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: map-get($map: $colores, $key: "Principal" );
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face {
    position: absolute;
    @include sizes;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.8s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    @include sizes;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    font-family: $fuenteLogo2, cursive;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: map-get($map: $colores, $key: "Cards");
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: map-get($map: $colores, $key: "Logo");
    padding: 15px;
    color: map-get($map: $colores, $key: "Cards");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: map-get($map: $colores, $key: "Cards");
    font-size: 30px;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
    
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

        /* ---- Responsive Mobile Index ---- */

@media only screen and (min-width: 420px) and (max-width: 768px){

    .main_index .contain{
        flex-direction: column;
        max-width: 80vw;
    }
    .imagen{
        max-width: 90vw;
    }
    .section_2_index{
        flex-direction: column;
        padding: 10px;
    }

         /*Mobile --- Diseño  */
    .main_diseño{
        grid-template-columns: 1fr;
        max-width: 80vw;
    }
    
    
        /*Mobile --- Proyectos  */
    .main_proyectos{
        padding:50px 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        }

}



@media only screen and (min-width: 200px) and (max-width: 425px){

                    /*Mobile --- Index  */
    .nav__links{
        flex-direction: column;
        justify-content: flex-end;
        
    }
    .nav__link i{
        display: inline-block;
        font-size: 20px;
    }
    .main_index{
        flex-direction: column;
        max-width: 80vw;

    }
    .imagen{
        max-width: 80vw;
    }
    .section_1_index{
        align-items: center;
        justify-content: center;
    }
    .section_2_index{
        background-color: #f0f4f5;
        flex: 1 1 auto;
        flex-direction: column;
    }
    
                    /*Mobile --- Diseño  */
    .main_diseño{
        grid-template-columns: 1fr;
        max-width: 80vw;
    }
                    /*Mobile --- Proyectos  */

    .main_proyectos{
        padding:50px 0;
        grid-template-columns: 1fr;
        gap: 20px; 
    }
}